# Exclude unnecessary files and directories
__pycache__
*.pyc
*.pyo
.git
.github
.vscode
.idea
.DS_Store
*.egg-info
*.egg
*.log
*.tar.gz
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.tar.xz
*.tar.bz2
*.tar.lz
*.tar.lzma
*.tar.lzma2
*.tar.zst
*.tar.lzo
*.tar.lzop
*.tar.lzop2
*.tar.lz4
*.tar.lz4c

